.wrapper {
  background: hsl(var(--clr-neutral-light-theme-100, var(--clr-neutral-dark-theme-600)));
  box-shadow: 1px 1px 5px hsl(0, 50%, 0%, 0.3);
  border-radius: 0.4rem;
}

.list {
  padding: 0;
  margin: 0;
  border: 0;
}

.list > * {
  border-bottom: 1px solid hsl(var(--clr-neutral-light-theme-200, var(--clr-neutral-dark-theme-400)));
}

.title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper > div {
  padding-inline: 1.25rem;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: hsl(var(--clr-neutral-light-theme-400, var(--clr-neutral-dark-theme-400)));
}

.button {
  padding: 0;
  color: currentColor;
  border: 0;
  background: transparent;
}
